@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: no-repeat; background-image: url('../../Images/appliqué.png'); background-size: cover; background-position: center;">
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>

        <div class="col-lg-6 col-sm-12">
            <img src="~/Images/HCN-SEAL-Stylized-white-background-400x401.png" />
        </div>
        <div class="col-lg-6 col-sm-12 font-weight-bold strong text-primary center-block">
            <h1 style="color:#48d9d2; font-weight: 900; text-shadow: 2px 2px black;">Inventory</h1>
        </div>

        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
    </div>



</div>

<div class="row">

</div>